<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>EmitterAnimation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7B02899A1E2F397F00CAD978</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7B0289B31E2F397F00CAD978</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7B0289BE1E2F397F00CAD978</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
